@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "avenir next", avenir, "helvetica neue", helvetica, ubuntu, roboto, noto, "segoe ui", arial, sans-serif;
  margin: 0;
  padding: 0;
  text-decoration-skip-ink: "auto";
}

:root {
  --gray-900: #1a202c;
  --gray-800: #2d3748;
  --gray-700: #4a5568;
  --gray-600: #718096;
  --gray-500: #a0aec0;
  --gray-400: #cbd5e0;
  --gray-300: #e2e8f0;
  --gray-200: #edf2f7;
  --gray-100: #f7fafc;
  --red-100: #fff5f5;
  --red-200: #fed7d7;
  --red-300: #feb2b2;
  --red-400: #fc8181;
  --red-500: #f56565;
  --red-600: #e53e3e;
  --red-700: #c53030;
  --red-800: #9b2c2c;
  --red-900: #742a2a;
  --blue-100: #ebf8ff;
  --blue-200: #bee3f8;
  --blue-300: #90cdf4;
  --blue-400: #63b3ed;
  --blue-500: #4299e1;
  --blue-600: #3182ce;
  --blue-700: #2b6cb0;
  --blue-800: #2c5282;
  --blue-900: #2a4365;
  --white: white;
  --red: #f56565;
  --text-decoration-color: var(--gray-400);
  --text-color: var(--gray-800);
  --focus-ring-color: var(--blue-500);
}

body {
  padding: 0;
  background-color: white;
  font-weight: 400;
  line-height: 1.563;
  color: var(--text-color);
  caret-color: var(--text-color);
}

@media (prefers-color-scheme: dark) {
  body {
    color: white;
    background-color: var(--gray-900);
    caret-color: white;
  }
}

/* Typography
  ––––––––––––––––––––––––––––––––– */
.SignUpForm {
  /* Form
  ––––––––––––––––––––––––––––––––– */
  /* Tables
  ––––––––––––––––––––––––––––––––– */
  /* Code
  ––––––––––––––––––––––––––––––––– */
  /* Forces a new-line at the end of a code block for layout purposes. */
  /* Blockquote
  ––––––––––––––––––––––––––––––––– */
  /* List
  ––––––––––––––––––––––––––––––––– */
  /* Keyboard
  ––––––––––––––––––––––––––––––––– */
  /* Abbreviation
  ––––––––––––––––––––––––––––––––– */
  /* custom */
}

.SignUpForm h1,
.SignUpForm h2,
.SignUpForm h3,
.SignUpForm h4,
.SignUpForm h5,
.SignUpForm h6 {
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-weight: bold;
}

.SignUpForm h1 {
  font-size: 3.052rem;
  letter-spacing: -0.15rem;
  line-height: 1;
}

.SignUpForm h2 {
  font-size: 2.441rem;
  letter-spacing: -0.12rem;
  line-height: 1.2;
}

.SignUpForm h3 {
  font-size: 1.953rem;
  letter-spacing: -0.09rem;
  line-height: 1.2;
}

.SignUpForm h4 {
  font-size: 1.563rem;
  letter-spacing: -0.06rem;
  line-height: 1.3;
}

.SignUpForm h5 {
  font-size: 1.25rem;
  letter-spacing: -0.03rem;
  line-height: 1.4;
}

.SignUpForm h6 {
  font-size: 1rem;
  letter-spacing: 0;
  line-height: 1.5;
}

.SignUpForm p {
  margin-bottom: 1.563rem;
}

.SignUpForm p > *:last-child {
  margin-bottom: 0;
}

.SignUpForm a {
  color: inherit;
  text-decoration: underline;
  text-decoration-color: var(--text-decoration-color);
  -webkit-text-decoration-color: var(--text-decoration-color);
  border-radius: 5px;
  text-underline-offset: 2px;
  text-decoration-thickness: 2px;
}

@media (hover: hover) {
  .SignUpForm a:hover {
    -webkit-text-decoration-color: var(--gray-800);
            text-decoration-color: var(--gray-800);
  }
}

@media (hover: hover) and (prefers-color-scheme: dark) {
  .SignUpForm a:hover {
    -webkit-text-decoration-color: white;
            text-decoration-color: white;
  }
}

@media (prefers-color-scheme: dark) {
  .SignUpForm a {
    text-decoration-color: var(--gray-700);
    -webkit-text-decoration-color: var(--gray-700);
  }
}

.SignUpForm a:focus-visible {
  -webkit-box-shadow: 0 0 0 2px var(--focus-ring-color);
          box-shadow: 0 0 0 2px var(--focus-ring-color);
  outline: none;
}

.SignUpForm small {
  font-size: 0.888rem;
}

.SignUpForm hr {
  border: 1px solid var(--gray-700);
  margin: 3.052rem 0;
}

.SignUpForm label {
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.SignUpForm input[type="email"],
.SignUpForm input[type="text"],
.SignUpForm input[type="number"],
.SignUpForm input[type="password"] {
  padding: 0.65rem 0.5rem;
  font-size: 1rem;
  border: 2px solid var(--gray-200);
  background-color: var(--gray-100);
  color: var(--gray-800);
  border-radius: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

@media (prefers-color-scheme: dark) {
  .SignUpForm input[type="email"],
  .SignUpForm input[type="text"],
  .SignUpForm input[type="number"],
  .SignUpForm input[type="password"] {
    background-color: var(--gray-800);
    border-color: var(--gray-700);
    color: white;
  }
  .SignUpForm input[type="email"]::-webkit-input-placeholder,
  .SignUpForm input[type="text"]::-webkit-input-placeholder,
  .SignUpForm input[type="number"]::-webkit-input-placeholder,
  .SignUpForm input[type="password"]::-webkit-input-placeholder,
  .SignUpForm select,
  .SignUpForm textarea {
    color: var(--gray-500);
  }
  .SignUpForm input[type="email"]:-ms-input-placeholder,
  .SignUpForm input[type="text"]:-ms-input-placeholder,
  .SignUpForm input[type="number"]:-ms-input-placeholder,
  .SignUpForm input[type="password"]:-ms-input-placeholder,
  .SignUpForm select,
  .SignUpForm textarea {
    color: var(--gray-500);
  }
  .SignUpForm input[type="email"]::-ms-input-placeholder,
  .SignUpForm input[type="text"]::-ms-input-placeholder,
  .SignUpForm input[type="number"]::-ms-input-placeholder,
  .SignUpForm input[type="password"]::-ms-input-placeholder,
  .SignUpForm select,
  .SignUpForm textarea {
    color: var(--gray-500);
  }
  .SignUpForm input[type="email"]::placeholder,
  .SignUpForm input[type="text"]::placeholder,
  .SignUpForm input[type="number"]::placeholder,
  .SignUpForm input[type="password"]::placeholder,
  .SignUpForm select,
  .SignUpForm textarea {
    color: var(--gray-500);
  }
}

.SignUpForm input[type="email"],
.SignUpForm input[type="text"],
.SignUpForm input[type="number"],
.SignUpForm input[type="password"],
.SignUpForm textarea,
.SignUpForm select {
  width: 400px;
}

.SignUpForm select {
  margin: 0;
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0.65rem 0.5rem;
  font-size: 1rem;
  border: 2px solid var(--gray-200);
  border-radius: 10px;
  color: var(--gray-700);
  height: auto;
  background-color: var(--gray-100);
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 125.304 125.304"><path d="M62.652 103.895L0 21.41h125.304" fill="%23343334"/></svg>');
  background-repeat: no-repeat;
  background-size: 1rem;
  background-position: center right 0.5rem;
}

@media (prefers-color-scheme: dark) {
  .SignUpForm select {
    background-color: var(--gray-800);
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 125.304 125.304"><path d="M62.652 103.895L0 21.41h125.304" fill="%23ffffff"/></svg>');
    border-color: var(--gray-700);
    color: white;
  }
}

.SignUpForm textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 1rem;
  border: 2px solid var(--gray-200);
  color: var(--gray-700);
  border-radius: 10px;
  resize: vertical;
  background-color: var(--gray-100);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0.65rem 0.5rem;
  font-family: -apple-system, BlinkMacSystemFont, "avenir next", avenir, "helvetica neue", helvetica, ubuntu, roboto, noto, "segoe ui", arial, sans-serif;
}

@media (prefers-color-scheme: dark) {
  .SignUpForm textarea {
    background-color: var(--gray-800);
    border-color: var(--gray-700);
    color: white;
  }
}

.SignUpForm input:focus,
.SignUpForm select:focus,
.SignUpForm textarea:focus {
  outline: none;
  border: 2px solid var(--focus-ring-color);
}

.SignUpForm input:invalid,
.SignUpForm select:invalid,
.SignUpForm textarea:invalid {
  border: 2px solid #ff7d87;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.SignUpForm input[type="checkbox"] {
  display: inline-block;
  height: 1rem;
  font-size: 1rem;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 2px solid var(--gray-300);
  width: 1rem;
  background-color: white;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  .SignUpForm input[type="checkbox"] {
    background-color: var(--gray-800);
    border-color: var(--gray-600);
  }
}

.SignUpForm input[type="checkbox"]:hover {
  cursor: pointer;
}

.SignUpForm input[type="checkbox"]:checked {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="78.369" height="78.369" viewBox="0 0 78.369 78.369"><path fill="white" d="M78.05 19.015l-48.592 48.59c-.428.43-1.12.43-1.548 0L.32 40.016c-.427-.426-.427-1.12 0-1.547l6.704-6.704c.428-.427 1.12-.427 1.548 0l20.113 20.112 41.113-41.113c.43-.427 1.12-.427 1.548 0l6.703 6.704c.427.427.427 1.12 0 1.548z"/></svg>');
  background-size: contain;
  background-color: var(--gray-700);
  border: 2px solid var(--gray-700);
}

.SignUpForm input[type="checkbox"]:focus-visible,
.SignUpForm input[type="checkbox"]:checked:focus-visible {
  border-color: var(--focus-ring-color);
}

@media (prefers-color-scheme: dark) {
  .SignUpForm input[type="checkbox"]:checked {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="78.369" height="78.369" viewBox="0 0 78.369 78.369"><path fill="%23343434" d="M78.05 19.015l-48.592 48.59c-.428.43-1.12.43-1.548 0L.32 40.016c-.427-.426-.427-1.12 0-1.547l6.704-6.704c.428-.427 1.12-.427 1.548 0l20.113 20.112 41.113-41.113c.43-.427 1.12-.427 1.548 0l6.703 6.704c.427.427.427 1.12 0 1.548z"/></svg>');
    background-color: white;
    border: 2px solid white;
  }
}

.SignUpForm input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  border: 2px solid var(--gray-300);
  height: 1rem;
  width: 1rem;
  margin-right: 0.5rem;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (prefers-color-scheme: dark) {
  .SignUpForm input[type="radio"] {
    border: 2px solid white;
  }
}

@media (hover: hover) {
  .SignUpForm input[type="radio"]:hover {
    cursor: pointer;
  }
}

.SignUpForm input[type="radio"]:checked {
  border: 2px solid var(--gray-700);
}

.SignUpForm input[type="radio"]:focus-visible,
.SignUpForm input[type="radio"]:checked:focus-visible {
  border-color: var(--focus-ring-color);
}

@media (prefers-color-scheme: dark) {
  .SignUpForm input[type="radio"]:checked {
    border: 2px solid white;
  }
}

.SignUpForm input[type="radio"]:checked::before {
  content: "";
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  background-color: var(--gray-700);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 50%;
}

@media (prefers-color-scheme: dark) {
  .SignUpForm input[type="radio"]:checked::before {
    background-color: white;
  }
}

.SignUpForm input[type="submit"],
.SignUpForm input[type="reset"],
.SignUpForm input[type="button"],
.SignUpForm button {
  padding: 0.5rem 1.25rem;
  font-size: 1rem;
  border-radius: 10px;
  background-color: var(--gray-700);
  border: 2px solid var(--gray-700);
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 1rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  line-height: initial;
  -webkit-transition: background-color 200ms ease-in-out, border 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
  transition: background-color 200ms ease-in-out, border 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
  transition: background-color 200ms ease-in-out, border 200ms ease-in-out, transform 200ms ease-in-out;
  transition: background-color 200ms ease-in-out, border 200ms ease-in-out, transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

@media (prefers-color-scheme: dark) {
  .SignUpForm input[type="submit"],
  .SignUpForm input[type="reset"],
  .SignUpForm input[type="button"],
  .SignUpForm button {
    background-color: white;
    border: 2px solid white;
    color: var(--gray-800);
  }
}

@media (hover: hover) {
  .SignUpForm input[type="submit"]:hover,
  .SignUpForm input[type="reset"]:hover,
  .SignUpForm input[type="button"]:hover,
  .SignUpForm button:hover {
    cursor: pointer;
    background-color: var(--gray-800);
  }
}

@media (hover: hover) and (prefers-color-scheme: dark) {
  .SignUpForm input[type="submit"]:hover,
  .SignUpForm input[type="reset"]:hover,
  .SignUpForm input[type="button"]:hover,
  .SignUpForm button:hover {
    cursor: pointer;
    background-color: var(--gray-300);
  }
}

.SignUpForm button:focus-visible,
.SignUpForm input[type="submit"]:focus-visible,
.SignUpForm input[type="reset"]:focus-visible,
.SignUpForm input[type="button"]:focus-visible {
  border-color: var(--focus-ring-color);
  outline: none;
}

.SignUpForm table {
  width: 100%;
  border-spacing: 0;
  margin-bottom: 1.563rem;
  font-variant-numeric: tabular-nums;
}

.SignUpForm th,
.SignUpForm td {
  padding: 0.5rem 0.5rem 0.5rem 0;
  margin: 0;
}

.SignUpForm th {
  font-weight: bold;
  text-align: left;
  border-bottom: 2px solid var(--gray-300);
  color: var(--gray-300);
}

@media (prefers-color-scheme: dark) {
  .SignUpForm th {
    border-color: var(--gray-700);
    color: var(--gray-700);
  }
}

.SignUpForm td {
  border-bottom: 2px solid var(--gray-300);
}

@media (prefers-color-scheme: dark) {
  .SignUpForm td {
    border-color: var(--gray-700);
  }
}

.SignUpForm code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 0.8rem;
  white-space: nowrap;
  background: var(--gray-100);
  padding: 0 0.328rem;
  display: inline-block;
  vertical-align: middle;
  border-radius: 10px;
}

@media (prefers-color-scheme: dark) {
  .SignUpForm code {
    background-color: var(--gray-700);
  }
}

.SignUpForm p > code {
  white-space: normal;
}

.SignUpForm pre > code {
  line-height: 1.563em;
  display: block;
  padding: 1rem;
  white-space: pre;
  margin-bottom: 1.563rem;
  overflow: scroll;
}

.SignUpForm pre > code::after {
  content: " ";
}

.SignUpForm blockquote {
  border-left: 0.25rem solid var(--gray-100);
  padding: 0 1rem;
  margin-bottom: 1.563rem;
}

@media (prefers-color-scheme: dark) {
  .SignUpForm blockquote {
    border-left: 0.25rem solid var(--gray-700);
  }
}

.SignUpForm ul {
  margin: 0;
  padding: 0 1px;
  list-style: disc outside;
  font-variant-numeric: tabular-nums;
}

.SignUpForm ol {
  list-style: decimal outside;
}

.SignUpForm ol,
.SignUpForm ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 1.563rem;
}

.SignUpForm li {
  list-style-position: inside;
}

.SignUpForm kbd {
  display: inline-block;
  padding: 0 0.328rem;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 0.64rem;
  color: var(--gray-700);
  vertical-align: middle;
  background-color: var(--gray-100);
  border: solid 1px var(--gray-300);
  border-bottom: solid 2px var(--gray-500);
  border-radius: 5px;
}

.SignUpForm abbr {
  text-decoration: none;
  border-bottom: 2px dashed var(--gray-600);
}

@media (hover: hover) {
  .SignUpForm abbr:hover {
    cursor: help;
  }
}

.SignUpForm .error {
  font-size: 12px;
  color: var(--red-600);
  margin-top: 0.25rem;
}

@media (prefers-color-scheme: dark) {
  .SignUpForm .error {
    color: var(--red-400);
  }
}

.SignUpForm button:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
}

.SignUpForm button + button {
  margin-left: 0.5rem;
}

.SignUpForm button.secondary,
.SignUpForm button[type="reset"] {
  background-color: var(--gray-300);
  border: 2px solid var(--gray-300);
  color: var(--gray-900);
}

.SignUpForm button.secondary:hover,
.SignUpForm button[type="reset"]:hover {
  background-color: var(--gray-400);
}

.SignUpForm input[type="email"],
.SignUpForm input[type="text"],
.SignUpForm input[type="number"],
.SignUpForm textarea,
.SignUpForm select {
  width: 400px;
}

.SignUpForm label {
  margin-top: 1rem;
}

.SignUpForm label.checkbox {
  font-weight: normal;
}

.SignUpForm button[type="submit"] {
  margin-top: 1rem;
}
